
.btn{
    margin-left: 10px;
    padding-right: 10px;
}

.buttons {
    margin-left: 20px;
}


.titulo {
    font-weight: bold;
    color: blueviolet;
    margin-left: 10px;
    margin-top: 10px;
}
.genera{
    display: flex;
    flex-direction:column;
    gap: 10px;

}
.input{
    width: 350px;
}
.formulario{
    position: relative;
    left: 20px;
}
.contenido{
    overflow-x: hidden;
 
}