<div class="contenido">
    <h1 class="titulo">{{funcion}}</h1>
        
    <form [formGroup]="formulario">
        <div class="general">
            <div class="form">
                <mat-form-field class="example-full-width">
                    <mat-label>Codigo docente</mat-label>
                    <input matInput formControlName="codigoDocente" placeholder="Codigo docente">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="example-full-width">
                    <mat-label>ORCID</mat-label>
                    <input matInput formControlName="orcid" placeholder="ORCID">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="example-full-width">
                    <mat-label>RENACYT</mat-label>
                    <input matInput formControlName="renacyt" placeholder="RENACYT">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="example-full-width">
                    <mat-label>Grupo</mat-label>
                    <input matInput formControlName="grupo" placeholder="Grupo">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="example-full-width">
                    <mat-label>Nivel</mat-label>
                    <input matInput formControlName="nivel" placeholder="Nivel">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="example-full-width">
                    <mat-label>Registro</mat-label>
                    <input matInput formControlName="registro" placeholder="Registro">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="example-full-width">
                    <mat-label>Rol</mat-label>
                    <input matInput formControlName="rol" placeholder="Rol">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="example-full-width">
                    <mat-label>Reconocimiento</mat-label>
                    <input matInput formControlName="reconocimiento" placeholder="Reconocimiento">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="example-full-width">
                    <mat-label>Observación</mat-label>
                    <input matInput formControlName="contenido" placeholder="Observación">
                </mat-form-field>
            </div>
        </div>
        
    </form>
    <div mat-dialog-actions class="buttons">
        <button class="btn" mat-raised-button color="primary" type="submit" (click)="onNoClick()">Cancel</button>
        <button class="btn" mat-raised-button color="primary" type="submit" (click)="onSubmit()"
            cdkFocusInitial>{{funcion}}</button>
    </div>
</div>