<button mat-button (click)="addFilter()" class="btn"><img src="./assets/filter_add.png" alt="" srcset=""
        width="30px"></button>
<div *ngFor="let filter of filters; let i = index">
    <mat-form-field>
        <mat-label>Seleccione columna</mat-label>
        <mat-select [(ngModel)]="filter.column" name="column{{i}}">
            <mat-option *ngFor="let item of columns" [value]="item.columnDef">{{item.header}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput placeholder="Ex. ium" [(ngModel)]="filter.filter" name="filter{{i}}">
    </mat-form-field>

</div>
<button mat-button (click)="aceptarFiltro()" class="btn"><img src="./assets/aceptar.png" alt="" srcset=""
        width="30px"></button>
<button mat-button (click)="cancelarrFiltro()" class="btn"><img src="./assets/cancelar.png" alt="" srcset=""
        width="30px"></button>