.example-full-width {
    margin-left: 20px;
}

.buttons {
    margin-left: 20px;
}

.btn {
    margin-left: 10px;
    padding-right: 10px;
}

.mensaje {
    color: red;
}

.titulo {
    font-weight: bold;
    color: blueviolet;
    margin-left: 10px;
    margin-top: 10px;
}

.myTooltip {
    .mdc-tooltip__surface {
      max-width: 350px;
      padding: 5px;
    }
  }