<h2 mat-dialog-title class="titulo">
  {{ funcion }} Distrito
</h2>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    
    <!-- ID (Visible solo en modo Editar) -->
    <mat-form-field appearance="outline" class="example-full-width" *ngIf="funcion === 'Editar'">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" readonly>
      <mat-error class="mensaje" *ngIf="formulario.get('id')?.hasError('required') && formulario.get('id')?.touched">
        ID es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Nombre -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Ingrese el nombre del distrito">
      <mat-error class="mensaje" *ngIf="formulario.get('nombre')?.hasError('required') && formulario.get('nombre')?.touched">
        Nombre es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Valor -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="valor" placeholder="Ingrese el valor">
      <mat-error class="mensaje" *ngIf="formulario.get('valor')?.hasError('required') && formulario.get('valor')?.touched">
        Valor es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Provincia -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Provincia</mat-label>
      <mat-select formControlName="provincia_id" placeholder="Seleccionar provincia">
        <mat-option *ngFor="let prov of provincias; track prov" [value]="prov.id">
          {{ prov.nombre }}
        </mat-option>
      </mat-select>
      <mat-error class="mensaje" *ngIf="formulario.get('provincia_id')?.hasError('required') && formulario.get('provincia_id')?.touched">
        Provincia es requerida.
      </mat-error>
    </mat-form-field>

  </div>

  <div mat-dialog-actions class="buttons">
    <button mat-button class="btn" type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="formulario?.invalid">
      {{ funcion }}
    </button>
  </div>
</form>