<form [formGroup]="formularioGrado" class="formulario">
    <div class="general">
        <div class="form">
            <mat-form-field class="example-full-width">
                <mat-label>Codigo docente</mat-label>
                <input matInput formControlName="codigoDocente" placeholder="Codigo docente">
            </mat-form-field>
        </div>

        <div class="form tabla">
            <button mat-raised-button color="primary" (click)="agregarFilaTabla(true)">
                Agregar Fila
            </button>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
             

                <ng-container matColumnDef="conservar">
                    <th mat-header-cell *matHeaderCellDef>CONSERVAR</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <input type="checkbox" [formControl]="element.get('conservar')" />
                    </td>
                </ng-container>

                <!-- Columna Select -->
                <ng-container matColumnDef="grado">
                    <th mat-header-cell *matHeaderCellDef> Grado </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <select [formControl]="elemento(element.get('grade'))">
                        <!--<select [formControl]="filasArray.at(i).get('grade')">-->
                            <option *ngFor="let opcion of opcionesSelect" [value]="opcion.value" [disabled]="opcion.disabled">
                              {{opcion.label}}
                            </option>
                        </select>
                    </td>
                </ng-container>
                <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef> Titulo </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <input type="text" [formControl]="element.get('titulo')" />
                    </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha grado </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <input type="date" [formControl]="element.get('fecha')" />
                    </td>
                </ng-container>

                <ng-container matColumnDef="lugar">
                    <th mat-header-cell *matHeaderCellDef> Lugar de obtencion</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <input type="text" [formControl]="element.get('lugar')" />
                    </td>
                </ng-container>

                <ng-container matColumnDef="revalidado">
                    <th mat-header-cell *matHeaderCellDef>Inscrito en SUNEDU</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <input type="checkbox" [formControl]="element.get('revalidado')" />
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="fechaRevalidado">
                    <th mat-header-cell *matHeaderCellDef> Fecha Revalidado </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <input type="date" [formControl]="element.get('fechaRevalidado')" />
                    </td>
                </ng-container>

                <!-- Fila de encabezado -->
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <!-- Filas de datos -->
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
        </div>
    </div>
    <button class="btn add-bnt-grado" mat-raised-button color="primary" type="submit"
        (click)="add_grado()">Agregar</button>
</form>