<div class="p-4">
    <h2>{{data.title}}</h2>

    <h3>Selecciona:</h3>
    <form [formGroup]="form">
        <mat-radio-group aria-label="Select an option" formControlName="tipoFirma">
            <mat-radio-button value="1">Firma manual</mat-radio-button>
            <mat-radio-button value="2">Cargar imagen firma</mat-radio-button>
        </mat-radio-group>
    </form>
    <div class="container">
        <!-- Subir firma -->
        <div class="mt-4" *ngIf="form.get('tipoFirma')?.value === '2'">
            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
            <p *ngIf="fileName">Archivo cargado: {{ fileName }}</p>
        </div>

        <!-- Canvas -->
        <canvas *ngIf="form.get('tipoFirma')?.value === '1'" #canvas></canvas>


    </div>

    <div *ngIf="signatureImg" class="mt-4">
        <h3>Vista previa:</h3>
        <img [src]="signatureImg" alt="Firma" />
    </div>

    <div class="mt-2">
        <button (click)="clear()">Limpiar</button>
        <button (click)="save()">Guardar</button>
    </div>


    <!-- Vista previa -->

</div>