.formulario{
    position: relative;
    left: 10px;
    top: 10px;
}
.tamanio{
    width: 270px;
}
.titulo{
    font-weight: bold;
    color: blueviolet;
    margin-left: 10px;
    margin-top: 10px;
}
.ancho{
    width: 132px;
}