<h2 mat-dialog-title class="titulo">
  {{ funcion }} Unidad Académica
</h2>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    
    <!-- ID (Visible solo en modo Editar) -->
    <mat-form-field appearance="outline" class="example-full-width" *ngIf="funcion === 'Editar'">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" readonly>
      <mat-error class="mensaje" *ngIf="formulario.get('id')?.hasError('required') && formulario.get('id')?.touched">
        ID es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Nombre de la Unidad -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Nombre unidad</mat-label>
      <input matInput formControlName="nombre" placeholder="Ingrese el nombre de la unidad académica">
      <mat-error class="mensaje" *ngIf="formulario.get('nombre')?.hasError('required') && formulario.get('nombre')?.touched">
        Nombre es requerido.
      </mat-error>
    </mat-form-field>

  </div>

  <div mat-dialog-actions class="buttons">
    <button mat-button class="btn" type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="formulario?.invalid">
      {{ funcion }}
    </button>
  </div>
</form>