<h2 mat-dialog-title class="titulo">
  {{ funcion }} Plan
</h2>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    
    <!-- ID (Visible solo en modo Editar) -->
    <mat-form-field appearance="outline" class="example-full-width" *ngIf="funcion === 'Editar'">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" readonly>
      <mat-error class="mensaje" *ngIf="formulario.get('id')?.hasError('required') && formulario.get('id')?.touched">
        ID es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Nombre -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Ingrese el nombre del plan">
      <mat-error class="mensaje" *ngIf="formulario.get('nombre')?.hasError('required') && formulario.get('nombre')?.touched">
        Nombre es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Nivel Académico -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Nivel Académico</mat-label>
      <mat-select formControlName="nivel_academico" placeholder="Seleccionar nivel">
        <mat-option *ngFor="let nvl of nivelesacad; track nvl" [value]="nvl">
          {{ nvl }}
        </mat-option>
      </mat-select>
      <mat-error class="mensaje" *ngIf="formulario.get('nivel_academico')?.hasError('required') && formulario.get('nivel_academico')?.touched">
        Nivel académico es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Vigencia (Datepicker) -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Vigencia</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="vigencia" 
             placeholder="DD/MM/YYYY" (paste)="onPaste($event)">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error class="mensaje" *ngIf="formulario.get('vigencia')?.hasError('required') && formulario.get('vigencia')?.touched">
        Vigencia es requerida.
      </mat-error>
    </mat-form-field>

  </div>

  <div mat-dialog-actions class="buttons">
    <button mat-button class="btn" type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="formulario?.invalid">
      {{ funcion }}
    </button>
  </div>
</form>