<h2 mat-dialog-title class="titulo">
  {{ funcion }} Departamento Académico
</h2>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    
    <!-- ID (Visible solo en modo Editar) -->
    <mat-form-field appearance="outline" class="example-full-width" *ngIf="funcion === 'Editar'">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" readonly>
      <mat-error class="mensaje" *ngIf="formulario.get('id')?.hasError('required') && formulario.get('id')?.touched">
        ID es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Nombre del Departamento Académico -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Nombre Departamento</mat-label>
      <input matInput formControlName="nombre" placeholder="Ingrese el nombre del departamento académico">
      <mat-error class="mensaje" *ngIf="formulario.get('nombre')?.hasError('required') && formulario.get('nombre')?.touched">
        Nombre es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Unidad Académica (Facultad) -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Unidad académica</mat-label>
      <mat-select formControlName="idFacultad" placeholder="Seleccionar Unidad">
        <mat-option *ngFor="let facultad of facultades; track facultad" [value]="facultad.id">
          {{ facultad.nombre }}
        </mat-option>
      </mat-select>
      <mat-error class="mensaje" *ngIf="formulario.get('idFacultad')?.hasError('required') && formulario.get('idFacultad')?.touched">
        Unidad es requerida.
      </mat-error>
    </mat-form-field>

  </div>

  <div mat-dialog-actions class="buttons">
    <button mat-button class="btn" type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="formulario?.invalid">
      {{ funcion }}
    </button>
  </div>
</form>