<h2 mat-dialog-title class="titulo">
  {{funcion}} Programa
</h2>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="form-grid">
    
    <!-- ID (Visible solo en modo Editar) - Ocupa toda la fila -->
    <mat-form-field appearance="outline" class="full-width" *ngIf="funcion === 'Editar'">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" readonly>
      <mat-error class="mensaje" *ngIf="formulario.get('id')?.hasError('required') && formulario.get('id')?.touched">
        ID es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Unidad Académica (Facultad) -->
    <mat-form-field appearance="outline">
      <mat-label>Unidad académica</mat-label>
      <mat-select formControlName="facultad" placeholder="Seleccionar unidad" (selectionChange)="onCategoryChangeFacultad($event)">
        @for (facultad of facultades; track facultad.id) {
          <mat-option [value]="facultad">
            {{facultad.nombre}}
          </mat-option>
        }
      </mat-select>
      <mat-error class="mensaje" *ngIf="formulario.get('facultad')?.hasError('required') && formulario.get('facultad')?.touched">
        Unidad académica es requerida.
      </mat-error>
    </mat-form-field>

    <!-- Departamento Académico (Escuela) -->
    <mat-form-field appearance="outline">
      <mat-label>Departamento académico</mat-label>
      <mat-select formControlName="escuela" placeholder="Seleccionar Departamento" (selectionChange)="onCategoryChangeEscuela($event)">
        @for (escuela of escuelas; track escuela.id) {
          <mat-option [value]="escuela">
            {{escuela.nombre}}
          </mat-option>
        }
      </mat-select>
      <mat-error class="mensaje" *ngIf="formulario.get('escuela')?.hasError('required') && formulario.get('escuela')?.touched">
        Departamento académico es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Escuela y/o Programa -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Escuela y/o Programa</mat-label>
      <input matInput formControlName="programa" placeholder="Ingrese el nombre del programa">
      <mat-error class="mensaje" *ngIf="formulario.get('programa')?.hasError('required') && formulario.get('programa')?.touched">
        Escuela es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Gestor -->
    <mat-form-field appearance="outline">
      <mat-label>Gestor</mat-label>
      <input matInput formControlName="gestor" placeholder="Ingrese el nombre del gestor">
      <mat-error class="mensaje" *ngIf="formulario.get('gestor')?.hasError('required') && formulario.get('gestor')?.touched">
        Nombre es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Director -->
    <mat-form-field appearance="outline">
      <mat-label>Director</mat-label>
      <input matInput formControlName="director" placeholder="Ingrese el nombre del director">
      <mat-error class="mensaje" *ngIf="formulario.get('director')?.hasError('required') && formulario.get('director')?.touched">
        Director es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Fecha Inicio -->
    <mat-form-field appearance="outline">
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [matDatepicker]="pickerInicio" formControlName="inicio" placeholder="MM/DD/YYYY">
      <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
      <mat-error class="mensaje" *ngIf="formulario.get('inicio')?.hasError('required') && formulario.get('inicio')?.touched">
        Fecha inicio es requerida.
      </mat-error>
    </mat-form-field>

    <!-- Fecha Fin -->
    <mat-form-field appearance="outline">
      <mat-label>Fecha Fin</mat-label>
      <input matInput [matDatepicker]="pickerFin" formControlName="fin" placeholder="MM/DD/YYYY">
      <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
      <mat-error class="mensaje" *ngIf="formulario.get('fin')?.hasError('required') && formulario.get('fin')?.touched">
        Fecha fin es requerida.
      </mat-error>
    </mat-form-field>

  </div>

  <div mat-dialog-actions class="buttons">
    <button mat-button class="btn" type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="formulario?.invalid">
      {{funcion}}
    </button>
  </div>
</form>