
<form [formGroup]="formulario">
    <mat-form-field class="example-full-width">
        <mat-label>Código</mat-label>
        <input matInput formControlName="codigo" placeholder="Código">
    </mat-form-field>
</form>

<div class="laboral-wrapper">
    <!-- Botón -->
    <button mat-raised-button (click)="abrirDialogoLaboral()" class="button-add">
        {{ existeRegistro() ? 'Editar' : 'Añadir' }} info. investigador de Docente
    </button>

    <!-- Tabla -->
    <div class="contenedortabla">
    <app-tabla class="tabla" [columns]="columns" [dataSource]="dataSource" (edit)="editar($event)"
        (delete)="eliminar($event)" (refreshTable)="cargartabla()"></app-tabla>
</div>
</div>