<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel hideToggle *ngIf="nivel==1">
        <mat-expansion-panel-header >
          <mat-panel-description>
            Tablas Generales
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/dashboard/usuarios" routerLinkActive="active-link">Usuarios</a>
        <a mat-list-item routerLink="/dashboard/nacionalidad" routerLinkActive="active-link">Nacionalidad</a>
        <a mat-list-item routerLink="/dashboard/departamento" routerLinkActive="active-link">Departamento</a>
        <a mat-list-item routerLink="/dashboard/provincia" routerLinkActive="active-link">Provincia</a>
        <a mat-list-item routerLink="/dashboard/distrito" routerLinkActive="active-link">Distrito</a>
        <a mat-list-item routerLink="/dashboard/bancos" routerLinkActive="active-link">Bancos</a>
        <a mat-list-item routerLink="/dashboard/afps" routerLinkActive="active-link">AFPs</a>
        <a mat-list-item routerLink="/dashboard/plan" routerLinkActive="active-link">Plan Académico</a>
        <!--<a mat-list-item routerLink="/dashboard/condicion" routerLinkActive="active-link">Condiciones</a>-->
        <a mat-list-item routerLink="/dashboard/facultad" routerLinkActive="active-link">Unidades Académicas</a>
        <a mat-list-item routerLink="/dashboard/escuela" routerLinkActive="active-link">Departamento Académico</a>
        <a mat-list-item routerLink="/dashboard/programa" routerLinkActive="active-link">Escuela y Programas</a>
        <a mat-list-item routerLink="/dashboard/curso" routerLinkActive="active-link">Cursos</a>
        
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle *ngIf="nivel==1 || nivel==2">
        <mat-expansion-panel-header>
          <mat-panel-description>
            Docentes
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/dashboard/personal" routerLinkActive="active-link">Info. Personal</a>
        <a mat-list-item routerLink="/dashboard/laboral" routerLinkActive="active-link" >Info. Laboral</a>
        <a mat-list-item routerLink="/dashboard/grado" routerLinkActive="active-link" >Info. Grado</a>
        <a mat-list-item routerLink="/dashboard/categoria" routerLinkActive="active-link" >Info. Categoría</a>
        <a mat-list-item routerLink="/dashboard/investigador" routerLinkActive="active-link" >Info. Investigación</a>
        <a mat-list-item routerLink="/dashboard/cursoDocentes" routerLinkActive="active-link" >Cursos asignados</a>
      </mat-expansion-panel>
      <!--<a mat-list-item class="btn" routerLink="" routerLinkActive="active-link">Postulacion</a>
      <a mat-list-item class="btn" routerLink="" routerLinkActive="active-link">Ratificacion</a>
      <a mat-list-item class="btn" routerLink="" routerLinkActive="active-link">Promocion</a>
      <a mat-list-item class="btn" routerLink="" routerLinkActive="active-link">Bienestar</a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span class="example-spacer">Gestión docente</span>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="cerrar_sesion()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
